In [3]:
#Data Structures


#Multiple values in single variable

#storing values efficienly

a = "rrrrr"

b = "18/04/1950"

c = "delhi"

d = "gurugram"

e = "second class"


List1 = ["rrrrr", "18/04/1950", "delhi", "gurugram", "second class"]

print(List1)

#Indexing

print(List1[-1])

print(List1[::2])

['rrrrr', '18/04/1950', 'delhi', 'gurugram', 'second class']
second class
['rrrrr', 'delhi', 'second class']

In [ ]:
#heterogenous

#List

[]
Indexing supported
duplicates are allowed
concatenation supported
Mutable




#Tuple




#Set
{}
duplicates are not allowed




#Dictionary

In [4]:
#List:

li = [3,4,5,6,"hello",False] #list 

print(li)

print(type(li))

[3, 4, 5, 6, 'hello', False]
<class 'list'>

In [5]:
#Indexing supported

List1 = ["rrrrr", "18/04/1950", "delhi", "gurugram", "second class"]

print(List1)

#Indexing

print(List1[-1])

print(List1[::2])

['rrrrr', '18/04/1950', 'delhi', 'gurugram', 'second class']
second class
['rrrrr', 'delhi', 'second class']

In [8]:
li = {3,4,5,6,"hello",False,3,3,3,3,13} #duplicates are not allowed

print(li)

print(type(li))

{False, 3, 'hello', 4, 5, 6, 13}
<class 'set'>

In [7]:
li = [3,4,5,6,"hello",False,3,3,3,3,13] #duplicates are allowed

print(li)

print(type(li))

[3, 4, 5, 6, 'hello', False, 3, 3, 3, 3, 13]
<class 'list'>

## List methods

In [11]:
#Creation of empty list

li1 = []

print(li1)
print(type(li1))

li2 = list()
print(li2)
print(type(li2))

[]
<class 'list'>
[]
<class 'list'>

In [12]:
#Concatenation

li1 = [3,4,5,6,7]
li2 = [1,2,0,9,3,4]

print(li1 + li2)

[3, 4, 5, 6, 7, 1, 2, 0, 9, 3, 4]

In [1]:
Li1 = [3,4,5,2,1]

print(Li1 * 3)

[3, 4, 5, 2, 1, 3, 4, 5, 2, 1, 3, 4, 5, 2, 1]

In [13]:
#mutable / list assignment possible

li1 = [2,3,4,5,6,1,7,8,20]

li1[4] = 100

print(li1)

[2, 3, 4, 5, 100, 1, 7, 8, 20]

In [15]:
str1 = "mathematics"

str1[4] = 100

print(str1)

TypeError: 'str' object does not support item assignment

In [16]:
#append

Li1 = [3,4,5,6,"hello"]

Li1.append(100)

print(Li1)

[3, 4, 5, 6, 'hello', 100]

In [17]:
#insert

Li1 = [3,4,5,6,"hello"]

Li1.insert(3,1000) #(index, value)

print(Li1)

[3, 4, 5, 1000, 6, 'hello']

In [2]:
#extend

Li1 = [1,2,3,4,5]
Li2 = [100,200]

Li1.extend(Li2)
print(Li1)

None
[1, 2, 3, 4, 5, 100, 200]

In [22]:
#pop

Li1 = [100,200,300,400,-100,-2]

Li1.pop(2) #index

print(Li1)

Li1.pop()

print(Li1)

[100, 200, 400, -100, -2]
[100, 200, 400, -100]

In [20]:
#remove

Li1 = [100,200,300,400,-100,-2]

Li1.remove(200) #particular element

print(Li1)

[100, 300, 400, -100, -2]

In [23]:
#index

Li1 = [100,200,300,400,-100,-2,300]


print(Li1.index(300))
print(Li1.index(4))

#element should be available
#it will identify for first existence

2

ValueError: 4 is not in list

In [24]:
#count

Li1 = [3,4,5,6,2,1,2,3,4,10]

print(Li1.count(3))
print(Li1.count(0))
print(Li1.count(10))

2
0
1

In [25]:
#clear

Li1 = [3,4,5,6,2,1,2,3,4,10]

Li1.clear()

print(Li1)

[]

In [27]:
#copy

Li1 = [3,4,5,6,2,1,2,3,4,10]
Li2 = Li1 #shallow copy

print(Li1)
print(Li2)
Li1[3] = 100
print(Li1)
print(Li2)
print(id(Li1))
print(id(Li2))

[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 100, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 100, 2, 1, 2, 3, 4, 10]
1900224939528
1900224939528

In [29]:
Li1 = [3,4,5,6,2,1,2,3,4,10]
Li2 = Li1.copy() #deep copy

print(Li1)
print(Li2)
Li1[3] = 100
print(Li1)
print(Li2)
print(id(Li1))
print(id(Li2))

[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 100, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
1900225360200
1900225516104

In [30]:
Li1 = [3,4,5,6,2,1,2,3,4,10]
Li2 = [3,4,5,6,2,1,2,3,4,10]

print(Li1)
print(Li2)

Li1[3] = 100

print(Li1)
print(Li2)

print(id(Li1))
print(id(Li2))

[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 100, 2, 1, 2, 3, 4, 10]
[3, 4, 5, 6, 2, 1, 2, 3, 4, 10]
1900226501576
1900225570184

In [31]:
#sum / del / len / min / max

Li1 = [2,3,4,5,6,1,10]

print(len(Li1))
print(sum(Li1))
print(min(Li1))
print(max(Li1))

7
31
1
10

In [35]:
#del

Li1 = [3,4,5,6,1]

del Li1[2:]

print(Li1)

del Li1[0]

print(Li1)

del Li1

print(Li1)

[3, 4]
[4]

NameError: name 'Li1' is not defined

In [44]:
Li1 = [3,4,5,6,2,1,-1,0]

Li1.sort() #ascending order
print(Li1)

[-1, 0, 1, 2, 3, 4, 5, 6]

In [40]:
Li1 = [3,4,5,6,2,1,-1,0]

Li1.reverse()
print(Li1)

[0, -1, 1, 2, 6, 5, 4, 3]

In [41]:
Li1 = [3,4,5,6,2,1,-1,0]

Li1.sort(reverse=True) #descending order
print(Li1)

[6, 5, 4, 3, 2, 1, 0, -1]

In [ ]:
https://www.w3schools.com/python/python_ref_list.asp
https://www.w3schools.com/python/python_lists_methods.asp

In [ ]:
#Median

Li1 = [3,4,5,6,7,1,2,0,-1]

#check number of elements 

#if no of elements are odd

Li1 = [3,4,5,6,7,1,2,0,-1] #==>

Li1 = [10, 20 , 30, 40,5, 3, 25, 1000000]  #median

#arrange the data ascending or order

#3, 5, 10 , 20 , 25, 30 , 40 , 10000000   ===> 25

#3, 5, 10 , 20 , 25, 30 , 35,  40 , 10000000  ==> 25 + 30 / 2 ==> 27.5

#data representation

In [ ]:
#Duplicate removal

## Tuple Methods

In [ ]:
#indexing / slicing / ordering
#supports duplicates values
#immutable
#supports concatenation
#() or without any braces

In [2]:
#indexing

tup1 = (4,5,6,7,3,3)

print(tup1[2:])

(6, 7, 3, 3)

In [1]:
tup1 = 4,5,6,7,3,3

print(tup1[2:])

(6, 7, 3, 3)

In [3]:
tup1 = (4,5,6,7,3,3) #tuple

tup1[-1] = 100

print(tup1)

TypeError: 'tuple' object does not support item assignment

In [4]:
tup1 = [4,5,6,7,3,3]#list

tup1[-1] = 100

print(tup1)

[4, 5, 6, 7, 3, 100]

In [6]:
tup1 = (4,5,6,7,3,3)
tup2 = (100,200,300,40,50)

print(tup1 + tup2)
print(tup1)
print(tup2)

(4, 5, 6, 7, 3, 3, 100, 200, 300, 40, 50)
(4, 5, 6, 7, 3, 3)
(100, 200, 300, 40, 50)

In [2]:
#How to create empty tuple

tup1 = tuple()

print(tup1)
print(type(tup1))

tup2 = ()

print(tup2)
print(type(tup2))

()
<class 'tuple'>
()
<class 'tuple'>

In [4]:
val1 = 10,11,13 #error   #tuple

print(val1)
print(type(val1))

val1 = (10,11,13) #tuple  #tuple

print(val1)
print(type(val1))

val1 = (10) #tuple  #tuple #int

print(val1)
print(type(val1))


val1 = (103,) #error  #tuple

print(val1)
print(type(val1))

(10, 11, 13)
<class 'tuple'>
(10, 11, 13)
<class 'tuple'>
10
<class 'int'>
(103,)
<class 'tuple'>

In [10]:
#Tuple with multiple elements

tup1 = (10,)

print(tup1)
print(type(tup1))

tup2 = 10,

print(tup2)
print(type(tup2))

(10,)
<class 'tuple'>
(10,)
<class 'tuple'>

In [5]:
tup3 = (10)

print(tup3)
print(type(tup3))

tup4 = 10
print(tup4)
print(type(tup4))

(10,)
<class 'tuple'>
10
<class 'int'>

In [11]:
#index

tup1 = (4,5,6,3,2,1)

print(tup1.index(2))

4

In [12]:
#count

tup1 = (4,5,6,3,2,1)

print(tup1.count(2))

1

In [23]:
tup1 = (4,5,6,3,2,1)

tup1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [18]:
#sum / len / min / max / del 

tup1 = (4,5,6,3,2,1)

print(len(tup1))

print(min(tup1))

print(max(tup1))

print(sum(tup1))

del tup1

6
1
6
21

In [3]:
#multiplication *

Li1 = 3,4,5,2,1

print(Li1 * 3)

(3, 4, 5, 2, 1, 3, 4, 5, 2, 1, 3, 4, 5, 2, 1)

## Set Methods

In [ ]:
#no indexing / no ordering
#does not allow duplicates
#concatenation is not possible
#mutable
#{individual elements}

In [19]:
set1 = {3,4,5,6,10}

print(set1[0])

TypeError: 'set' object is not subscriptable

In [21]:
set1 = {3,4,5,6,10,3,4,0,0,0,3,3,4,4,5,5}

print(set1) #removes duplicates by default

{0, 3, 4, 5, 6, 10}

In [22]:
set1 = {4,5,6,3,10}

set2 = {11,12,13,14}

print(set1 + set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
#how to create empty set

set3 = {}

print(type(set3))

set3 = set()

print(type(set3))

<class 'dict'>
<class 'set'>

In [27]:
Li1 = [2,3,4,2,3,4,2,3]

print(list(set(Li1)))


#Data struct conversion
#tuple
#set
#list

[2, 3, 4]

In [28]:
#add elements

set1 = {3,4,5,2,1}

set1[0] = 100

print(set1)

TypeError: 'set' object does not support item assignment

In [30]:
set1 = {3,4,5,2,1}

set1.add(20)

print(set1)

{1, 2, 3, 4, 5, 20}

In [31]:
set1 = {3,4,5,2,1}

set2 = {5,6,7,8,9,0}

set1.update(set2)

print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
#remove

set1 = {3,4,5,2,1}
set1.remove(2)
print(set1)
set1.remove(-1)
print(set1)

{1, 3, 4, 5}

KeyError: -1

In [33]:
#discard

set1 = {3,4,5,2,1}
set1.discard(2)
print(set1)
set1.discard(-1)
print(set1)

{1, 3, 4, 5}
{1, 3, 4, 5}

In [24]:
#pop

set1 = {3,4,5,2,1}
set1.pop()

print(set1)

{2, 3, 4, 5}

In [2]:
#multiplication *

Li1 = {3,4,5,2,1}

print(Li1 * 3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [5]:
#clear / copy 

set1 = {5,6,7,4}

set1.clear()

print(set1)

Li1 = [5,6,7,4]

Li1.clear()

print(Li1)

set()
[]

In [6]:
#copy

set1 = {3,4,5,2}

set2 = set1.copy()

print(set1)
print(set2)
print(id(set1))
print(id(set2))

{2, 3, 4, 5}
{2, 3, 4, 5}
1695549745192
1695549746536

In [7]:
#sum / del / min / max / len

set1 = {10,20,30,40,5}

print(len(set1))
print(min(set1))
print(max(set1))
print(sum(set1))

5
5
40
105

In [8]:
del set1

In [9]:
#Union

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set3 = set1.union(set2)

print(set3)

{0, 1, 2, 3, 4, 5, 6, -2, -3, -1}

In [10]:
#Intersection (common elements)

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set3 = set1.intersection(set2)

print(set3)

{1, -1}

In [12]:
#Intersection_update

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set1.intersection_update(set2)

print(set1)

{1, -1}

In [13]:
#difference

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set3 = set1.difference(set2)

print(set3)

{2, 3, 4, 5}

In [15]:
#difference_update

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set2.difference_update(set1)

print(set2)

{0, 6, -2, -3}

In [17]:
#symmeteric difference (Union - Intersection)

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set3 = set1.symmetric_difference(set2)

print(set3)

{0, 2, 3, 4, 5, 6, -2, -3}

In [16]:
#symmeteric difference update

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}

set2.symmetric_difference_update(set1)

print(set2)

{0, 2, 3, 4, 5, 6, -2, -3}

In [19]:
#isdisjoint

set1 = {1,2,3,4,5,-1}
set2 = {1,0,-1,-2,-3,6}
set3= {9,10,6,7,8,11}

print(set1.isdisjoint(set2)) #common elements available
print(set1.isdisjoint(set3)) ##common elements not available

False
True

In [21]:
#issubset / issuperset

set1 = {1,2,3,4,5,-1}
set2 = {3,4,5}
set3= {1,-10}

print(set1.issuperset(set2))
print(set1.issuperset(set3))

print(set2.issubset(set1))
print(set2.issubset(set3))

True
False
True
False

## Dictionary

In [ ]:
#{key:value}
#Mutable
#access elements through keys
#ordering or indexing ===> not supported (key == index)
#key is unique and values can have duplicate elements
#concatenation not supported
#* multiplication not supported

In [26]:
#Create empty dictionary

dict1 = {}

print(dict1)

print(type(dict1))

dict1 = dict()

print(dict1)

print(type(dict1))

{}
<class 'dict'>
{}
<class 'dict'>

In [5]:
dict1 = {10:"python", 3.10:"value", "hello":100, "world":20.20, 10:70, 20:100, 10:1000}

#keys: int , float, str
#values: anything


print(dict1)

print(type(dict1))

{10: 1000, 3.1: 'value', 'hello': 100, 'world': 20.2, 20: 100}
<class 'dict'>

In [31]:
dict1 = {10:"python", 3.10:"value", "hello":100, "world":20.20, 10:70, 20:100, True:11}

#keys: int , float, str
#values: anything


print(dict1)

print(type(dict1))

{10: 70, 3.1: 'value', 'hello': 100, 'world': 20.2, 20: 100, True: 11}
<class 'dict'>

In [32]:
dict1 = {10:"python", 3.10:"value", "hello":100, "world":20.20, 10:70, 20:100, True:11, 1:11}

#keys: int , float, str
#values: anything


print(dict1)

print(type(dict1))

{10: 70, 3.1: 'value', 'hello': 100, 'world': 20.2, 20: 100, True: 11}
<class 'dict'>

In [37]:
dict1 = {10:"python", 3.10:"value", "hello":100, "world":20.20, 10:70, 20:100, True:11, 1:11}


print(dict1)

print(dict1["hello"])

print(dict1[20])

print(dict1.get("world"))


#print(dict1[0])

print(type(dict1))

{10: 70, 3.1: 'value', 'hello': 100, 'world': 20.2, 20: 100, True: 11}
100
100
20.2
<class 'dict'>

In [39]:
#add / replace

values = {"name":"rrrr", "age":13, "station":"marathalli"}

values["name"] = "gggg"  #replace

values["drop"] = "silk board" #add

print(values)

print(values.keys())
print(values.values())
print(values.items())

{'name': 'gggg', 'age': 13, 'station': 'marathalli', 'drop': 'silk board'}
dict_keys(['name', 'age', 'station', 'drop'])
dict_values(['gggg', 13, 'marathalli', 'silk board'])
dict_items([('name', 'gggg'), ('age', 13), ('station', 'marathalli'), ('drop', 'silk board')])

In [40]:
#removal

details = {'name': 'gggg', 'age': 13, 'station': 'marathalli', 'drop': 'silk board'}

details.pop('age')

print(details)

{'name': 'gggg', 'station': 'marathalli', 'drop': 'silk board'}

In [41]:
details = {'name': 'gggg', 'age': 13, 'station': 'marathalli', 'drop': 'silk board'}

details.popitem() #random element removal

print(details)

{'name': 'gggg', 'age': 13, 'station': 'marathalli'}

In [42]:
#update

details = {'name': 'gggg', 'age': 13, 'station': 'marathalli', 'drop': 'silk board'}

extra = {"date":"12:12:2022","Time":"12:34:20"}

details.update(extra)

print(details)

{'name': 'gggg', 'age': 13, 'station': 'marathalli', 'drop': 'silk board', 'date': '12:12:2022', 'Time': '12:34:20'}

## Data structure conversion

In [4]:
#list to set ?

#list to tuple

#set to list

#set to tuple

#tuple to list

#tuple to set



#list to dictionary

list1 = [1,2,3,4,3,4,2,1,2,3,4,1]

list1 = list(set(list1))

print(list1)


list1 = [1,2,3,4,3,4,2,1,2,3,4,1]

list1 = tuple(list1)

print(list1)

#quicker compared to other data structs (especially list)
#less memory
#immutable to avoid accidiental change

[1, 2, 3, 4]
(1, 2, 3, 4, 3, 4, 2, 1, 2, 3, 4, 1)

In [10]:
#zip ===> inbuilt function

Li1 = [3,4,5,6,91]
Li2 = ["hello","hi","welcome","to","python"]

print(dict(zip(Li1,Li2)))
print(list(zip(Li1,Li2)))

{3: 'hello', 4: 'hi', 5: 'welcome', 6: 'to', 91: 'python'}
[(3, 'hello'), (4, 'hi'), (5, 'welcome'), (6, 'to'), (91, 'python')]

## Nested Data structure

In [13]:
Li1 = ["hello","hi","welcome","to","python"]

#come
#on

print(Li1[2])
print(Li1[2][3:])

print(Li1[-1])
print(Li1[-1][-2:])

welcome
come
python
on

In [18]:
Li1 = [(3, 'hello'), (4, 'hi'), (5, 'welcome'), (6, 'to'), (91, 'python')]

#come
#on

print(Li1[2])
print(Li1[2][1])
print(Li1[2][1][3:])


print(Li1[-1][-1][-2:])

(5, 'welcome')
welcome
come
on

In [19]:
li1 = [(3, 'hello'), (4, 'hi'), (5, 'welcome'), (6, 'to'), (91, 'python')]
print(li1[2][1][3:])
print(li1[4][1][-2:])

come
on

In [25]:
Li3 = [4,5,6,7,[100,101,102,103,[1000,1001,1002]]]

#1001
#102
#7

print(Li3[3])
print(Li3[4])
print(Li3[4][2])
print(Li3[4][4])
print(Li3[4][4][1])

7
[100, 101, 102, 103, [1000, 1001, 1002]]
102
[1000, 1001, 1002]
1001

In [31]:
a = {1: [1,2,3,"python"], 2:{10:"hello",20:"welcome",40: "science"}, 99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}


#py
#wloe
#5

print(a[1][-1][0:2])
print(a[2][20][::2])

py
wloe